:root {
    --color-cabecera: hsl(3, 0%, 10%);
    --dorado-botones: hsl(46, 65%, 52%);
  
    --fuente-cabecera: sans-serif;
  }

*{
    /*outline: 1px solid red;*/
}

html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
  }
/*================================= COMIENZO ZONA MENU =================================*/

  .zona-cabecera{
    height:8%;
    width: clamp(100px,100%);
    background-color: var(--color-cabecera);
    
    display:flex;
    align-items: center;
    gap: 5rem;
  }

  .logo{
    width: 70px;
    height: 50px;
  }

  .botones{
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.btn-outline-success{
    color: black;
    background-color: white;

    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
    border: 2px solid var(--dorado-botones);
    border-radius: 6px;
}

.btn-outline-success:hover{
    color: black;
    background-color: var(--dorado-botones);
}



  /*================================= FINAL ZONA MENU =================================*/
  
  .zona-informacion{
    /*flex: 1;*/
    height: 92%;
    width: clamp(100px,100%);
    background-color: aqua;
  }