:root {
    --color-cabecera: hsl(3, 0%, 10%);
    --color-texto-cabecera: hsl(3, 0%, 100%);
    --dorado-botones: hsl(46, 65%, 52%);
  
    --fuente-cabecera: sans-serif;
    /* --fuente-tamaño: 16px; */
  }
    
  * {
    /*box-sizing: border-box;*/
    margin: 0;
    /*padding: 0;*/
    
    /* outline: 1px solid red; */
  }
  
  .cabecera {
    padding: 1rem;
    display: flex;  
    gap: 5rem;
  
    font-family: var(--fuente-cabecera);
    font-size: 1.5rem;
    background-color: var(--color-cabecera);
    color: var(--color-texto-cabecera);
  }
  
  .titulo-proyecto{
      display: flex;
      align-items: center;
      color: var(--dorado-botones);
  
  }
  
  .botones{
      gap: 0.5rem;
      display: flex;
      align-items: center;
  }
  
  .btn-outline-success{
      color: black;
      background-color: white;
  
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      
      border: 2px solid var(--dorado-botones);
      border-radius: 6px;
  }
  
  .btn-outline-success:hover{
      color: black;
      background-color: var(--dorado-botones);
  }
  
  .logo{
      width: 70px;
      height: 50px;
  }

  .contenido{
    /*padding: 16rem 0;*/
    height: 90%;
    display: flex;
    flex-direction: column;
    /*flex-basis: content;*/
    text-align: center;
    gap: 5px;
    background-color: aqua;
  }

  .titulo-pagina{

  }

  .descripcion{
    /*margin-bottom: 12rem;*/
  }

  .resultado{
    color: blue;
    align-items: center;
  }

  .rachapuntos{
    display: flex;
    justify-content: flex-start; /*Poner los botones a la izquierda del espacio flex*/
    gap: 5px;

    /*margin-top: 16rem;*/
  }

