<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">        
        <title>Winning XI</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/paginaPrincipal.css')}}">
    </head>

    <body>
        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logoSinFondo.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">            

            <h1 class="titulo">Winning XI</h1>
 
            <div class="texto-informacion">  
                <p>Bienvenido a nuestra página de predicciones de resultados de fútbol. Aquí encontrarás información detallada sobre los próximos partidos de fútbol, 
                    junto con nuestras predicciones basadas en estadísticas y análisis de expertos en fútbol. Ya sea que seas un fanático casual o un apostador experimentado, 
                    nuestra plataforma te brindará información precisa y actualizada para ayudarte a tomar decisiones informadas sobre tus apuestas. Además, también puedes 
                    encontrar noticias y análisis de tendencias para mantenerte al día con el mundo del fútbol y estar al tanto de las últimas novedades en el mundo de las 
                    apuestas deportivas. Únete a nuestra comunidad y comienza a mejorar tus resultados en tus apuestas de fútbol hoy mismo.</p>
            </div>
            
        </div>
    </body>
</html>
