<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">        
        <title>Winning XI</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logoBurdeos.png')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/paginaPrincipal.css')}}">
    </head>

    <body>
        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logoBurdeos.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir-personalizado" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/racha-personalizada" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha personalizada</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">            

            <h1 class="titulo">Winning XI</h1>
 
            <div class="texto-informacion">  
                <p>Bienvenido a Winning XI, una aplicación de predicciones de resultados deportivos en la que encontrarás información detallada 
                    sobre los próximos partidos de fútbol.
                    <br>
                    <br>
                    Winning XI basa sus predicciones en estadísticas y análisis de expertos en fútbol para brindar a sus usuarios información 
                    precisa que les ayude a tomar decisiones acertadas en sus próximas apuestas.
                    <br>
                    <br>
                    ¿Quieres mantenerte al día en el mundo del fútbol y mejorar los resultados de tus apuestas? ¡Únete ahora a nuestra comunidad!
                    <br>
                    <br>
                    Winning XI es un proyecto de fin de grado realizado por Jesus Ruíz Domínguez, estudiante del Grado en Ingeniería 
                    Informática de la Universidad de Sevilla.
                </p>
            </div>
            
        </div>
    </body>
</html>
