<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">        
        <title>Web TFG</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/paginaPrincipal.css')}}">
    </head>

    <body>
        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logosinfondo.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">
            
            <div class="informacion">
                <h1 class="titulo">Titulo de prueba</h1>
                <p id="descripcion">
                    Esto es un texto de prueba que funciona como descripción de la pagina principal de la web
                </p>
            </div>
            
        </div>
    </body>
</html>
