<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web TFG</title>
    </head>
    <body>
        <div class="login">

            <h1>Calculadora de racha por equipos</h1>
            <p>Introduce el nombre del equipo que quieras consultar y haz click en el boton "Calcular la racha" para ver la racha en el último mes del equipo</p>

            <form action="/racha-calculada" method="post">

                <label for="equipo"></label>
                <select name="equipoLocal" id="equipo" required="required">
                    <option disabled selected>Equipo local</option>
                    <option value="Almeria">Almeria</option>
                    <option value="Athletic Bilbao">Athletic Bilbao</option>
                    <option value="Atletico Madrid">Atletico Madrid</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Cadiz">Cadiz</option>
                    <option value="Celta Vigo">Celta Vigo</option>
                    <option value="Elche">Elche</option>
                    <option value="Espanyol">Espanyol</option>
                    <option value="Getafe">Getafe</option>
                    <option value="Girona">Girona</option>
                    <option value="Mallorca">Mallorca</option>
                    <option value="Osasuna">Osasuna</option>
                    <option value="Rayo Vallecano">Rayo Vallecano</option>
                    <option value="Real Betis">Real Betis</option>
                    <option value="Real Madrid">Real Madrid</option>
                    <option value="Real Sociedad">Real Sociedad</option>
                    <option value="Sevilla">Sevilla</option>
                    <option value="Valencia">Valencia</option>
                    <option value="Valladolid">Valladolid</option>
                    <option value="Villarreal">Villarreal</option>
                </select>
                <button type="submit" class="btn-outline-success">Calcular la racha</button>

            </form>
            <form action="/racha" method="post">
                <button type="submit" class="btn-outline-success">Calcular otra racha</button>
            </form>
            <form action="/predecir" method="post">
                <button type="submit" class="btn-outline-success">Predecir partido</button>
            </form>
        </div>
        <br>
        <br>
        {{racha_texto}}
        <br>
        {{racha_texto2}}
    </body>
</html>