<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">        
        <title>Web TFG</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logoBurdeos.png')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/templateDocumentacion.css')}}">
    </head>

    <body>
        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logoBurdeos.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir-personalizado" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/racha-personalizada" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha personalizada</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">
            <h1 class="titulo">Documentación</h1>
            <div class="texto-informacion">  
                <p>· Manual de usuario            - <a href="https://uses0-my.sharepoint.com/:w:/g/personal/jesruidom_alum_us_es/ETEK906IQK1LpFxCyjFMkDQB1lDNadcvNPyTGiwMDnjTZA?e=qQPr57">Enlace manual</a></p>
                <p>· Repositorio Github           - <a href="https://github.com/jesruidom/TFG">Enlace Repositorio</a></p>
                <p>· Memoria del proyecto         - <a href="https://uses0-my.sharepoint.com/:w:/g/personal/jesruidom_alum_us_es/EbIgfhC2IyhLue2zlAorAtkBrIqyp5kRUPRruy2XCHm39A?e=06ICfH">Enlace memoria</a></p>
                <p>· Resultados de las pruebas    - <a href="https://uses0-my.sharepoint.com/:x:/g/personal/jesruidom_alum_us_es/EYJaYZ6yyq5GhnC4E3xYYIUBjEa7ZGaJtlB0naxn86u6yg?e=MgaK1z">Enlace pruebas</a></p>
            </div>
        </div>

    </body>
</html>
