<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Web TFG</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logoBurdeos.png')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/templatePrediccionPersonalizada.css')}}">
    </head>

    <body>

        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logoBurdeos.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir-personalizado" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/racha-personalizada" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha personalizada</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">

            <h1 class="titulo">Predicción de partido</h1>
            <p class="texto-informacion">Introduce el número de la jornada a predecir y los nombres de los equipos que disputarán el partido. A continuación, elige el valor en 
                porcentaje que le quieras dar a cada parámetro según su importancia (Valores permitidos: 0-100). En caso de querer crear una racha para los equipos elegir el valor
                en porcentaje de la importancia del parámetro y escoger la fecha de inicio y de fin para la racha. Presiona el botón "Predecir partido" y la aplicación predecirá 
                el ganador del partido buscado. 
            </p>
            <p class="texto-informacion2">SI NO SE DESEA CREAR UNA RACHA NO MODIFICAR EL VALOR DEL PORCENTAJE, POR DEFECTO ESTÁ EN 0.</p>

            <form  class="zona-formulario" action="/prediccion-personalizada-realizada" method="post">

                <div class="zona-options-equipos">
                    <div class="content-select">
                        <label for="numJornada"></label>
                        <select name="numJornada" id="numJornada" required="required">
                            <option disabled selected>Jornada</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                        <i></i>
                    </div>
    
                    <div class="content-select">
                        <label for="equipoLocal"></label>
                        <select name="equipoLocal" id="equipo" required="required">
                            <option disabled selected>Equipo local</option>
                            <option value="Almeria">Almeria</option>
                            <option value="Athletic Bilbao">Athletic Bilbao</option>
                            <option value="Atletico Madrid">Atletico Madrid</option>
                            <option value="Barcelona">Barcelona</option>
                            <option value="Cadiz">Cadiz</option>
                            <option value="Celta Vigo">Celta Vigo</option>
                            <option value="Elche">Elche</option>
                            <option value="Espanyol">Espanyol</option>
                            <option value="Getafe">Getafe</option>
                            <option value="Girona">Girona</option>
                            <option value="Mallorca">Mallorca</option>
                            <option value="Osasuna">Osasuna</option>
                            <option value="Rayo Vallecano">Rayo Vallecano</option>
                            <option value="Real Betis">Real Betis</option>
                            <option value="Real Madrid">Real Madrid</option>
                            <option value="Real Sociedad">Real Sociedad</option>
                            <option value="Sevilla">Sevilla</option>
                            <option value="Valencia">Valencia</option>
                            <option value="Valladolid">Valladolid</option>
                            <option value="Villarreal">Villarreal</option>
                        </select>
                        <i></i>
                    </div>
    
                    <div class="content-select">
                        <label for="equipoVisitante"></label>
                        <select name="equipoVisitante" id="equipo" required="required">
                            <option disabled selected>Equipo visitante</option>
                            <option value="Almeria">Almeria</option>
                            <option value="Athletic Bilbao">Athletic Bilbao</option>
                            <option value="Atletico Madrid">Atletico Madrid</option>
                            <option value="Barcelona">Barcelona</option>
                            <option value="Cadiz">Cadiz</option>
                            <option value="Celta Vigo">Celta Vigo</option>
                            <option value="Elche">Elche</option>
                            <option value="Espanyol">Espanyol</option>
                            <option value="Getafe">Getafe</option>
                            <option value="Girona">Girona</option>
                            <option value="Mallorca">Mallorca</option>
                            <option value="Osasuna">Osasuna</option>
                            <option value="Rayo Vallecano">Rayo Vallecano</option>
                            <option value="Real Betis">Real Betis</option>
                            <option value="Real Madrid">Real Madrid</option>
                            <option value="Real Sociedad">Real Sociedad</option>
                            <option value="Sevilla">Sevilla</option>
                            <option value="Valencia">Valencia</option>
                            <option value="Valladolid">Valladolid</option>
                            <option value="Villarreal">Villarreal</option>
                        </select>
                        <i></i>
                    </div>
                </div>                
                
                <div class="zona-parametros">
                    <input type="number" placeholder="% Puesto" id="parametros" name="porcentajePuesto" min="0" max="100">
                    <input type="number" placeholder="% Goles a favor" id="parametros" name="porcentajeGolesFavor" min="0" max="100">
                    <input type="number" placeholder="% Goles en contra" id="parametros" name="porcentajeGolesContra" min="0" max="100">
                </div>

                <div class="zona-fechas">
                    <label id="fecha">% Racha:</label>
                    <input type="number" placeholder="% Racha" id="parametros" name="porcentajeRacha" value="0" min="0" max="100">
                    <label id="fecha">Fecha inicio de la racha:</label>
                    <input type="date" placeholder="% Puesto" id="parametros" name="fecha-inicio">
                    <label id="fecha">Fecha fin de la racha:</label>
                    <input type="date" placeholder="% Puesto" id="parametros" name="fecha-fin">
                </div>
                
                <div class="boton-predecir">
                    <button type="submit" class="btn-acciones">Predecir Partido</button>
                </div>               

            </form>
            

            <div class="resultado">
                <p>{{puntos_texto}}</p>
            </div>  
            
            <div class="puntuacion_local">
                <p>{{puntos_local}}</p>                
            </div>

            <div class="puntuacion_visitante">
                <p>{{puntos_visitante}}</p>
            </div>

            <div class="botones-abajo">
                <form action="/predecir-personalizado" method="post">
                    <button type="submit" class="btn-acciones">Predecir otro partido personalizado</button>
                </form>
                <form action="/racha-personalizada" method="post">
                    <button type="submit" class="btn-acciones">Ir a calcular racha personalizada</button>
                </form>
            </div>
        </div>

        
        
    </body>
</html>