<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Web TFG</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logoBurdeos.png')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/templateRacha.css')}}">
    </head>

    <body>
        
        <div class="zona-cabecera">
            <div class="logo"> <a href="http://127.0.0.1:5000"><img  class="logo" src="{{url_for('static', filename='images/logoBurdeos.png')}}" alt="Logo"></a></div>
            
            <div class="botones">
                <form action="/predecir" method="post">
                    <button type="submit" class="btn-outline-success">Predicción de partido</button>
                </form>

                <form action="/predecir-personalizado" method="post">
                    <button type="submit" class="btn-outline-success">Predicción personalizada</button>
                </form>

                <form action="/racha" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha</button>
                </form>

                <form action="/racha-personalizada" method="post">
                    <button type="submit" class="btn-outline-success">Calculadora de racha personalizada</button>
                </form>

                <form action="/documentacion" method="post">
                    <button type="submit" class="btn-outline-success">Documentación</button>
                </form>
            </div>
        </div>

        <div class="zona-informacion">

            <h1 class="titulo">Calculadora de racha por equipos</h1>
            <p class="texto-informacion">Introduce el nombre del equipo que quieras consultar y haz click en el boton "Calcular la racha" 
                para ver la racha en el último mes del equipo</p>

                <form class="zona-formulario" action="/racha-calculada" method="post">
                    <div class="content-select">
                        <label for="equipo"></label>
                        <select name="equipoLocal" id="equipo" required="required">
                            <option disabled selected>Equipo local</option>
                            <option value="Almeria">Almeria</option>
                            <option value="Athletic Bilbao">Athletic Bilbao</option>
                            <option value="Atletico Madrid">Atletico Madrid</option>
                            <option value="Barcelona">Barcelona</option>
                            <option value="Cadiz">Cadiz</option>
                            <option value="Celta Vigo">Celta Vigo</option>
                            <option value="Elche">Elche</option>
                            <option value="Espanyol">Espanyol</option>
                            <option value="Getafe">Getafe</option>
                            <option value="Girona">Girona</option>
                            <option value="Mallorca">Mallorca</option>
                            <option value="Osasuna">Osasuna</option>
                            <option value="Rayo Vallecano">Rayo Vallecano</option>
                            <option value="Real Betis">Real Betis</option>
                            <option value="Real Madrid">Real Madrid</option>
                            <option value="Real Sociedad">Real Sociedad</option>
                            <option value="Sevilla">Sevilla</option>
                            <option value="Valencia">Valencia</option>
                            <option value="Valladolid">Valladolid</option>
                            <option value="Villarreal">Villarreal</option>
                        </select> 
                        <i></i>
                    </div>

                
                    <button type="submit" class="btn-acciones">Calcular la racha</button>    
                </form>

            <div class="resultado">
                <p>{{racha_texto}}</p>
                <p>{{racha_texto2}}</p>
            </div>

            <div class="botones-abajo">
                <form action="/racha" method="post">
                    <button type="submit" class="btn-acciones">Calcular otra racha</button>
                </form>

                <form action="/predecir" method="post">
                    <button type="submit" class="btn-acciones">Predecir partido</button>
                </form>
            </div>

            
        </div>
        
    </body>
</html>